# data frame

2-dimensional labeled data structure with columns of potentially different types.

You can create a data frame from various sources, such as dictionaries, lists, NumPy arrays, or by reading data from files

In [2]:
import pandas as pd

Creating a DataFrame from a dictionary

In [3]:
final_data = {"NAMES": ['dhan', 'bul'], "ENC":[9,6]} #enc = encodings
database = pd.DataFrame(final_data)
display(database)
database.to_csv("database.csv")

  NAMES  ENC
0  dhan    9
1   bul    6

In [6]:
#refer to the row index:
print(database.loc[0])

NAMES    dhan
ENC         9
Name: 0, dtype: object

In [7]:
#use a list of indexes:
print(database.loc[[0, 1]])

  NAMES  ENC
0  dhan    9
1   bul    6

name index

In [8]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [9]:
#refer to the named index:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

read data from file

In [12]:
df = pd.read_csv('database.csv')
print(df)

   Unnamed: 0 NAMES  ENC
0           0  dhan    9
1           1   bul    6